<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Weather API Fetch</title>
        <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
        crossorigin="anonymous"
        />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="./assets/css/styles.css">
    </head>
    <body class="d-flex flex-column min-vh-100">
        <div id="app">
            <div>
                <!-- HEADER -->
                <header>
                    <nav id="navbar" class="navbar navbar-expand-lg bg-light navbar-light">
                        <div class="container">
                            <a class="navbar-brand" href="index.html">
                                <!-- <img src="./assets/images/logo.png" alt="logo"> -->
                                <span>Weather</span>
                            </a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Menu
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item" href="#">Search History</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </header>
                <!-- HEADER -->

                <!-- Main Site -->
                <main id="site-main">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="post">
                                    <section class="app">
                                        <div class="box">
                                            <div class="square" style="--i:0;"></div>
                                            <div class="square" style="--i:0.1;"></div>
                                            <div class="square" style="--i:0.2;"></div>
                                            <div class="square" style="--i:1;"></div>
                                            <div class="square" style="--i:1.1;"></div>
                                            <div class="square" style="--i:1.2;"></div>
                                            <div class="square" style="--i:2;"></div>
                                            <div class="square" style="--i:2.1;"></div>
                                            <div class="square" style="--i:2.2;"></div>
                                            <div class="square" style="--i:3;"></div>
                                            <div class="square" style="--i:3.1;"></div>
                                            <div class="square" style="--i:3.2;"></div>
                                            <div class="square" style="--i:4;"></div>
                                            <div class="square" style="--i:4.1;"></div>
                                            <div class="square" style="--i:4.2;"></div>
                                            <div class="containerP">
                                                <div class="form">
                                                    <h2 class="">Main App</h2>
                                                    <hr>
                                                    <div class="input-group mb-3">
                                                        <input type="text" class="form-control" aria-describedby="basic-addon2" list="datalistOptions" placeholder="Type a city" @change="obtainCity" v-model="inpsearch">
                                                        <datalist id="datalistOptions">
                                                            <option :value="item.place_name" v-for="(item,index) in mapboxData" :key="index">
                                                        </datalist>
                                                        <button type="button" class="btn btn-success" @click="obtainWeather" v-if="actbtn === 1"><i class="fa-solid fa-magnifying-glass"></i></button>
                                                        <button type="button" class="btn btn-secondary" @click="obtainCity" v-else><i class="fa-solid fa-magnifying-glass"></i></button>
                                                    </div>
                                                    <hr>
                                                    <div class="results" v-if="Object.keys(weatherData).length > 0">
                                                        <h5>Place: <span v-text="mapboxData[pos].place_name"></span></h5>
                                                        <h5>Lat: <span v-text="mapboxData[pos].center[1]"></span></h5>
                                                        <h5>Long: <span v-text="mapboxData[pos].center[0]"></span></h5>
                                                        <h5>Temperature: <span v-text="`${weatherData.main.temp} °C`"></span></h5>
                                                        <h5>Feels Like: <span v-text="`${weatherData.main.feels_like} °C`"></span></h5>
                                                        <h5>Status: <span v-text="weatherData.weather[0].description"></span></h5>
                                                        <h5>Min Temp: <span v-text="`${weatherData.main.temp_min} °C`"></span></h5>
                                                        <h5>Max Temp: <span v-text="`${weatherData.main.temp_max} °C`"></span></h5>
                                                    </div>
                                                    <button type="button" class="btn btn-primary mt-3 mb-3" @click="restart">RESTART</button>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>

                </main>
                <!-- /Main Site -->

                <!-- modals -->
                <section>

                </section>
                <!-- /modals -->

                <!-- FOOTER -->
                <footer id="footer" class="pb-4 pt-4">
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-12 col-lg col-md">
                                <a href="#">FAQ</a>
                            </div>
                            <div class="col-12 col-lg col-md">
                                <a href="#">Contact</a>
                            </div>
                            <div class="col-12 col-lg col-md">
                                <a href="#">Novedades</a>
                            </div>
                            <div class="col-12 col-lg col-md">
                                <a href="#">Privacy</a>
                            </div>
                            <div class="col-12 col-lg col-md">
                                <h6 class="text-center mt-2 mb-2">
                                    Follow us: 
                                    <a href="#"><i class="fab fa-instagram-square"></i></a>
                                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                                </h6>
                            </div>
                        </div>
                        <h6 class="text-center mt-4">© Copyright - All rights reserved</h6>
                        <h6 class="text-center mt-4">Elias Toro</h6>
                    </div>
                </footer>
                <!-- /FOOTER -->
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
    <script src="./assets/js/vue.js"></script>
    <script src="./assets/js/sweetalert2.all.min.js"></script>
    <script src="./assets/js/main.js"></script>
</html>